{% extends './index.html' %}

{% block title %}
<title>Khal_Ture :: Log In</title>
{% endblock %}

{% block content %}
  <div class="login-page d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Login</h2>
        <form action="{% url 'Khal_Ture:handleSignIn' %}" method="post">
          {% csrf_token %}
          <input type="text" placeholder="Username e.g., John" class="form-control mt-2" name='username'/>
          <input type="password" placeholder="Password" class="form-control mt-3" name='password'/>
          <div class="form-actions text-center py-3 px-3 mt-2">
            <input type="submit" value="SIGN IN" class="btn btn-secondary"/>
          </div>
          <p class="fs-6">Don't have an account? <a class="text-primary fw-bold text-decoration-none" href="{% url 'Khal_Ture:signup' %}" type="button">Sign up</a></p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}